doctype html
html
	body(data-spy="scroll" data-target=".navbar" data-offset="50")
		include include/head

		include include/nav
		include include/header
		include include/about
		include include/testi
		include include/project

		include include/footer