// About Section
section#about
	.container
		h2.underline Our Services
		// Services
		article.services
			.row
				// Responsive Service
				.col-md-4.col-sm-6
					.service
						.icon.pull-left
							i.fa.fa-mobile.fa-5x
						.text.pull-right
							h3 Responsive Layout
							p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna nullam.
				// Cloud Service
				.col-md-4.col-sm-6
					.service
						.icon.pull-left
							i.fa.fa-cloud.fa-4x
						.text.pull-right
							h3 Cloud Services
							p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna nullam.
				// fesh and Right Service							
				.col-md-4.col-sm-6
					.service
						.icon.pull-left
							i.fa.fa-lightbulb-o.fa-5x
						.text.pull-right
							h3 Fesh &amp; Right ideas
							p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna nullam.
				// Attachments Service
				.col-md-4.col-sm-6
					.service
						.icon.pull-left
							i.fa.fa-envelope.fa-4x
						.text.pull-right
							h3 Attachments
							p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna nullam.
				// Video Service
				.col-md-4.col-sm-6
					.service
						.icon.pull-left
							i.fa.fa-video-camera.fa-4x
						.text.pull-right
							h3 Support Video
							p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna nullam.
				// Lovely Service
				.col-md-4.col-sm-6
					.service
						.icon.pull-left
							i.fa.fa-heart-o.fa-4x
						.text.pull-right
							h3 Lovely Design
							p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna nullam.

		.clearfix
		hr
		// Team		
		article.team
			.row 
				// Team Information		
				.col-md-4
					h2.underline Our Team
					p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna nullam.Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna nullam.
				// Team Images	
				.col-md-8
					.row
						.col-md-3.col-sm-6
							img.img-responsive.center-block(src="img/images/team/team1.png" alt="Ashely cady")
						.col-md-3.col-sm-6
							img.img-responsive.center-block(src="img/images/team/team2.png" alt="Ashely cady")
						.col-md-3.col-sm-6
							img.img-responsive.center-block(src="img/images/team/team3.png" alt="Ashely cady")
						.col-md-3.col-sm-6
							img.img-responsive.center-block(src="img/images/team/team1.png" alt="Ashely cady")