footer#contact.center-block
	.container
		.row
			.col-md-3.text-center
				h3 About Classic
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a lacus facilisis, placerat magna sit amet
				.social-media
					i.fa.fa-facebook.fa-fw.fa-2x
					i.fa.fa-google.fa-fw.fa-2x
					i.fa.fa-twitter.fa-fw.fa-2x
			.col-md-3
				h3 Tags
				ul.tags.list-unstyled
					li HTML
					li CSS
					li Photoshop
			.col-md-3
				h3 Recent Posts
				.media.center-block
					.media-left
						a(href="#")
							img.media-object(src="img/images/footer/1.png" alt="...")
					.media-body
						h4.media-heading Media heading
						p June, 2017
				.media.center-block
					.media-left
						a(href="#")
							img.media-object(src="img/images/footer/2.png" alt="...")
					.media-body
						h4.media-heading Media heading
						p July, 2017
				.media.center-block
					.media-left
						a(href="#")
							img.media-object(src="img/images/footer/3.png" alt="...")
					.media-body
						h4.media-heading Media heading
						p August, 2017

			.col-md-3 
				h3 Blog Categories

					h4 Agency
					hr
					h4 Business
					hr
					h4 Multi Purpose
					hr
					h4 Audio
					hr

	.copyright.container.text-center
		p Copyright &amp; 2015 All Right Reserved
	
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src="js/smooth-scroll.js")
script(src="js/script.js")