// Testimonials Section
section#testimonials.text-center
	.wrapper
		.container
			h2.underline What Our Client Say
			// Wrap sliders
			.wrapsliders
				.slider.active
					p Aenean iaculis, mauris sed aliquet semper, nulla nisl mattis elit, a volutpat nibh leo id enim. Aenean
						br
						| urna est, tincidunt egestas semper vitae, facilisis eu tellus.
					p.color Ashely Cady

				.slider
					p Aenean iaculis, mauris sed aliquet semper, nulla nisl mattis elit, a volutpat nibh leo id enim. Aenean
						br
						| urna est, tincidunt egestas semper vitae, facilisis eu tellus.
					p.color Osama Mohammed

				.slider
					p Aenean iaculis, mauris sed aliquet semper, nulla nisl mattis elit, a volutpat nibh leo id enim. Aenean
						br
						| urna est, tincidunt egestas semper vitae, facilisis eu tellus.
					p.color Ahmed Abd-Elrazek
